node_modules

./frontend/node_modules
/frontend/build
./frontend/package-lock.json

./backend/node_modules
./backend/package-lock.json
/backend/public

./backend/.env


/backend/.env
./frontend/.env

/package-lock.json

api.log
web.log
/frontend/.env
