body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.measurements_used {
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.measurements_used > div {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.measurements_used > div pre,
.measurements_used > div p {
    margin: 0;
    font-style: italic;
    font-size: 14px;
}

.measurements_used > div pre {
    background: #FFF;
    border-radius: 10px;
}